* {
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 999;
    border: solid 3px;
    background-color: rgba(255, 235, 205, 0.603);
    padding-top: 10px;
    padding-bottom: 10px;
}

header .button{
    margin-left: 50px;
    margin-right: 50px;
    border: 5px white solid;
    background-color: rgba(0, 255, 242, 0.486);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-weight: bold;
}

body{
    background-color: black;
    & h1{
        font-family: Arial, Helvetica, sans-serif;
        color: orange;
        text-align: center;
        filter: drop-shadow(0 0 10px rgb(255, 8, 0));
    }
}

.together{
    text-align: center;
    border-radius: 25%;
    & img{
        max-width: 25%;
        max-height: 25%;
        margin-top: 100px;
    }
}

section.cards{
    display: flex;
    justify-content: space-between;
}

section.cards .card-s{
    margin: 50px;
    width: 750px;
    & h2, p{
        color: white;
    }
    & img{
        max-height: 100%;
        max-width: 100%;
    }
}

section.cards .card-s .bp img{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.cards .card-a{
    margin: 50px;
    width: 750px;
    & h2, p{
        color: rgb(26, 26, 27);
        transition: .5s;
        &:hover{
            color: white;
            text-decoration: overline underline;
            font-weight: bold;
        }
    }
    & img{
        max-height: 100%;
        max-width: 100%;
    }
}

section.cards .card-a .bp img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.1;
    transition: .5s ease-in-out;
}

section.cards .card-a .bp:hover img{
    opacity: 1
}