* {
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 999;
    border: solid 3px;
    background-color: rgba(255, 235, 205, 0.603);
    padding-top: 10px;
    padding-bottom: 10px;
}

header .button{
    margin-left: 50px;
    margin-right: 50px;
    border: 5px white solid;
    background-color: rgba(0, 255, 242, 0.486);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-weight: bold;
}

body{
    background-color: gray;
}

.card-one section.card-s{
    position: absolute;
    top: 250px;
    width: 500px;
    left: 200px;
    border: 5px solid white;
    border-radius: 25px;
    background-color: rgba(0, 255, 255, 0.507);
    padding: 20px;
    & h2{
        font-size: 40px;
        color: rgb(255, 255, 171);
        text-decoration: underline;
    }
    & p{
        font-size: 20px;
        color: rgb(255, 255, 91);
    }
}

.card-one section.card-a{
    position: absolute;
    top: 300px;
    width: 500px;
    left: 1200px;
    border: 5px solid white;
    border-radius: 25px;
    background-color: rgba(0, 255, 255, 0.507);
    padding: 20px;
    transition: 5s;
    & h2{
        font-size: 40px;
        color: rgb(255, 255, 171);
        transition: .5s;
        &:hover{
            color: rgb(172, 0, 0);
            text-decoration: overline underline;
        }
    }
    & p{
        font-size: 20px;
        color: rgb(255, 255, 91);
        transition: .5s;
        &:hover{
            transform: rotateY(180deg);
        }
    }
}

.card-two section.card-s{
    position: absolute;
    top: 500px;
    left: 10%;
    width: 1000px;
    padding: 15px;
    background-color: rgba(255, 229, 84, 0.39);
    border: 10px solid rgb(255, 109, 56);
    & h2{
        font-size: 100px;
        color: blanchedalmond;
    }
    & p{
        font-size: 50px;
        color: blanchedalmond;
    }
}

.card-two section.card-a{
    position: absolute;
    top: 960px;
    left: 50%;
    width: 800px;
    padding: 15px;
    border: 10px solid black;
    transition: .25s;
    &:hover{
        background-color: rgba(255, 229, 84, 0.767);
        border: 10px solid rgb(255, 109, 56);
    }
    & h2, p{
        color: black;
        transition: .5s ease-in-out;
        &:hover{
            color: blanchedalmond;
        }
    }
    & h2{
        font-size: 100px;
    }
    & p{
        font-size: 50px;
    }
}

.card-three section.card-s{
    display: flex;
    height: 50vh;
    width: 150vh;
    background-color: rgb(130, 194, 35);
    border: 5px solid rgb(189, 50, 0);
    padding-left: 20px;
    margin: .2rem 10vw 0;
}

.card-three section.card-s .image{
    margin-top: 75px;
    padding: 5px;
    & img{
        max-width: 100%;
        max-width: 100%;
        border: solid 5px white;
        border-radius: 25px;
    }
}

.card-three section.card-s .text{
    margin-top: 75px;
    padding: 50px;
    & h1{
        font-size: 50px;
    }
    & h2{
        font-size: 37.5px;
    }
    & p{
        font-size: 20px;
        text-decoration: underline;
    }
    & h1, h2, p{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: yellow;
        font-weight: bold;
    }
}

.card-three section.card-a{
    display: flex;
    height: 50vh;
    width: 150vh;
    background-color: rgb(130, 194, 35);
    border: 5px solid rgb(189, 50, 0);
    padding-left: 20px;
    margin: .2rem 10vw 0;
    transition: .5s ease;
}

.card-three section.card-a .image{
    margin-top: 75px;
    padding: 5px;
    & img{
        max-width: 100%;
        max-width: 100%;
        border: solid 5px white;
        border-radius: 25px;
        transition: .5s;
        &:hover{
            transform:rotateZ(360deg);
        }
    }
}

.card-three section.card-a .text{
    margin-top: 75px;
    padding: 50px;
    & h1{
        font-size: 50px;
        transition: .5s;
        &:hover{
            filter: drop-shadow( 0 0 5px red);
        }
    }
    & h2{
        font-size: 37.5px;
    }
    & p{
        font-size: 20px;
        color: transparent;
        background-color: yellow;
        text-decoration: underline;
        transition: .5s ease;
        &:hover{
            color: yellow;
            background-color: transparent;
        }
    }
    & h1, h2, p{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: yellow;
        font-weight: bold;
    }
}

.card-four section.card{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    padding-right: 250px;
    padding-left: 250px;
}

.card-four section.card .card-s{
    flex-basis: 50%;
    padding: 25px;
    border: 5px solid white;
    border-radius: 25%;
    & h2, p{
        background-color: rgba(0, 0, 0, 0.486);
        color: rgb(0, 204, 255);
        padding: 25px;
        border-radius: 10%;
    }
}

.card-four section.card .card-a{
    flex-basis: 50%;
    padding: 25px;
    border: 5px solid white;
    border-radius: 25%;
    & h2, p{
        background-color: rgba(0, 0, 0, 0.486);
        color: rgb(0, 204, 255);
        padding: 25px;
        border-radius: 10%;
    }
}
.card-four section.card .card-a{
    flex-basis: 50%;
    padding: 25px;
    transition: .5s;

    & p, h2{
        transition: .5s ease-in-out;
        &:hover{
            filter: drop-shadow(0 0 5px red);
            text-decoration: underline;
        }
    }
}