* {
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 999;
    border: solid 3px;
    background-color: rgba(255, 235, 205, 0.603);
    padding-top: 10px;
    padding-bottom: 10px;
}

header .button{
    margin-left: 50px;
    margin-right: 50px;
    border: 5px white solid;
    background-color: rgba(0, 255, 242, 0.486);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-weight: bold;
}

body{
    background-color: gray;
}

section.card-s{
    position: absolute;
    top: 250px;
    width: 500px;
    left: 200px;
    border: 5px solid white;
    border-radius: 25px;
    background-color: rgba(0, 255, 255, 0.507);
    padding: 20px;
    & h2{
        font-size: 40px;
        color: rgb(255, 255, 171);
        text-decoration: underline;
    }
    & p{
        font-size: 20px;
        color: rgb(255, 255, 91);
    }
}

section.card-a{
    position: absolute;
    top: 300px;
    width: 500px;
    left: 1200px;
    border: 5px solid white;
    border-radius: 25px;
    background-color: rgba(0, 255, 255, 0.507);
    padding: 20px;
    transition: 5s;
    & h2{
        font-size: 40px;
        color: rgb(255, 255, 171);
        transition: .5s;
        &:hover{
            color: rgb(172, 0, 0);
            text-decoration: overline underline;
        }
    }
    & p{
        font-size: 20px;
        color: rgb(255, 255, 91);
        transition: .5s;
        &:hover{
            transform: rotateY(180deg);
        }
    }
}