* {
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 999;
    border: solid 3px;
    background-color: rgba(255, 235, 205, 0.603);
    padding-top: 10px;
    padding-bottom: 10px;
}

header .button{
    margin-left: 50px;
    margin-right: 50px;
    border: 5px white solid;
    background-color: rgba(0, 255, 242, 0.486);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-weight: bold;
}

body {
    background-image: linear-gradient(to left, red, white);
}

section.title{
    display: flex;
    justify-content: center;
    position: relative;
    top: 150px;
    & h1{
        font-size: 50px;
        color: red;
        background-color: grey;
        padding: 15px;
    }
}

section.image{
    text-align: center;
    img{
        max-width: 50%;
        max-height: 50%;
    }
}

section.card{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    padding-right: 250px;
    padding-left: 250px;
}

section.card .card-s, .card-a{
    flex-basis: 50%;
    padding: 25px;
    border: 5px solid white;
    border-radius: 25%;
    & h2, p{
        background-color: rgba(0, 0, 0, 0.486);
        color: rgb(0, 204, 255);
        padding: 25px;
        border-radius: 10%;
    }
}

section.card .card-a{
    flex-basis: 50%;
    padding: 25px;
    transition: .5s;

    & p, h2{
        transition: .5s ease-in-out;
        &:hover{
            filter: drop-shadow(0 0 5px red);
            text-decoration: underline;
        }
    }
}